h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 30px;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}